@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}

#map {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#map.chart-shown {
  height: calc(100% - 200px);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#mapcontainer {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#mapcontainer.all-shown {
  width: calc(100% - 200px);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.columns {
  display: flex;
}

.full-page {
  height: 100%;
  width: 100%;
}

#settings {
  max-width: 250px;
  min-width: 250px;
  background: #434142;
  color: white;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  white-space: nowrap;
  width: 200px;
}

#settings.hidden {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  width: 0px;
  max-width: 0px;
  min-width: 0px;
  visibility: hidden;
}

#charts {
  display: flex;
  height: 200px;
  margin-top: 0px;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

#charts.hidden {
  height: 0px;
  margin-top: 200px;
  max-height: 0px;
  min-height: 0px;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.chart {
  width: 45%;
  height: 200px;
}

.button-group {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 1;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.loop-toggle {
  background: white;
  border-radius: 3px;
  border: 1px #8B898A solid;
  color: #434142;
  font-size: 1.5em;
  cursor: pointer;
  padding: 3px;
  margin-bottom: 3px;
  text-align: center;
  transition: 1s;
  z-index: 1;
}

.loop-toggle:hover {
  background: #e1001a;
  color: white;
  transition: 1s;
}

.setting {
  margin: 5px;
  display: flex;
  white-space: nowrap;
}

.setting label {
  float: left;
  position: relative;
  display: inline-block;
  margin-right: 4px;
}

.setting .value {
  border-radius: 5px;
  border-style: hidden;
  margin-left: auto;
  max-width: 80px;
  width: 100%;
}

.setting .value:read-only {
  background-color: #8B898A;
  color: white;
  text-align: right;
}

.setting label .tooltip {
  visibility: hidden;
  white-space: normal;
  width: 140px;
  background-color: #434142;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -75%;
  left: 205px;
}

.setting label .tooltip::after {
  position: absolute;
  top: 30%;
  left: -10px;
  content:"";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #434142;
}

.setting label:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.update-button {
  margin: 5px;
}

.update-button input {
  border: 1px transparent;
  border-radius: 2px;
  background: #e1001a;
  color: white;
  font-size: 1em;
  width: 100%;
}
